@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&family=Playfair+Display&family=Roboto&display=swap');

.section-pad {
  padding: 40px 200px 40px 200px;
}

h1 {
  font:bold 64px 'Markazi Text';
  margin-bottom: 0em;
  margin-top: 0em;
}

h2 {
  font: 40px 'Markazi Text';
  margin-top: 0em;
  margin-bottom: 0em;
}

h3 {
  font: 18px 'Playfair Display';
  margin-top: 0em;
  margin-bottom: 0em;
}

h4 {
  font: bold 14px 'Markazi Text';
  margin: 0em 0em 0.5em 0em;
  color: #495E57;
}

p {
  font: 16px "Playfair Display";
  text-align: justify;
  margin-top: 2em;
}

button {
  padding: 12px;
  width: 240px;
  border-radius: 10px;
  border: 1px solid #495E57;
  background-color: #F4CE14;
  color: black;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Playfair Display';
}

button:hover {
  background-color: #495E57;
  color: white;
  border: solid 1px white;
}

li {
  font-family: 'Roboto';
  font-size: 14px;
}




.App-Header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
}

nav ul {
  display: flex;
  gap: 40px;
}

nav ul li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: solid underline 3px #495E57;
}

.App-Hero {
  display: flex;
  align-items: center;
  background-color: #495E57;
  padding-bottom: 40px;
  padding-top: 20px;
  gap: 140px;
}

.Hero-content {
  display: grid;
  justify-items: flex-start;
  max-width: 500px;
}

.Hero-Image {
  position: relative;
  margin-bottom: -80px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px;
}


.Hero-Title {
  color: #F4CE14;
}

.Hero-Sub-Tittle {
  color: white;
}
.Hero-Description {
  color: white;
}


.App-Highlights {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
}
.App-rows-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  gap: 150px;
  color: #495E57;
}

.cards-items {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #EDEFEE;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 265px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card-image {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-description {
  font-size: 16px;
}

.card-title-price {
  display: flex;
  justify-content: space-between;
}

.card-price {
  font-family: "Markazi Text";
  font-size: 24px;
  font-weight: 400;
  color: #EE9972;
}

.card-order {
  display: flex;
  gap: 20px;
  align-items: center;
}

.card-order-description{
  margin: 0em;
  padding: 0em;
}

.App-Testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
}

.testimonial-title {
  color: #495E57;
  margin-bottom: 1em;
}

.rating-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.rating-card {
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.rating-card > div {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.App-About {
  display: flex;
  gap: 200px;
}

.about-image1, .about-image2 {
  border-radius: 16px;
  box-shadow: rgba(12, 11, 11, 0.418) 1.95px 1.95px 2.6px;
}

.about-image2 {
  position: relative;
  margin: -80px 0 0 -80px;
}

.app-footer {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 80px;
  padding: 40px 0 40px 0;
  background-color: #D9D9D9;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer ul li {
  list-style: none;
  font: 14px 'Roboto';
}

.booking_section {
  background-color: #EDEFEE;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

fieldset {
  display: flex;
  width: 480px;
  flex-direction: column;
  padding: 16px;
  border-radius: 4px;
}

label {
  margin-bottom: 8px;
  font-family: 'Playfair Display';
  font-size: 14px;
}

input,
select {
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 32px;
  padding: 0 8px;
  font-family: 'Playfair Display';
  font-weight: 700;
}

.Field {
  position: relative;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-msg {
  color: red;
  margin: 5px;
  font: 12px "Playfair Display";
  font-weight: 600;
}